# Supabase
SUPABASE_URL=your_url_here
SUPABASE_SERVICE_KEY=your_service_key_here
SUPABASE_DATABASE_PASSWORD=your_password_here

# Supabase Heartbeat
HEARTBEAT_TOKEN=YOUR_LONG_RANDOM_TOKEN
HEARTBEAT_URL=https://bangeroo-music-website.netlify.app/api/supabase-heartbeat

# Spotify
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REFRESH_TOKEN=your_refresh_token_here